<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen flex flex-col bg-zinc-900 text-white">
    <!-- Page content wrapper -->
    <div class="flex-1 p-10">
    

    <h3 class="text-3xl mb-5">Login Your Account</h3>
    <a href="/about" class="text-sm text-blue-400 hover:underline">About This Project</a>

    <form action = "/login" method="post">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="email" placeholder="email" name="email">
        <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="password" placeholder="password" name="password">
        <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" value="Login">
    </form>
    <p class="mt-4 text-sm text-gray-400">
        Don't have an account?
        <a href="/" class="text-blue-400 hover:underline">Create Account</a>
      </p>

      <% if (error) { %>
        <p style="color:red;"><%= error %></p>
      <% } %>
    </div>
      <footer class="text-center text-gray-500 py-4 border-t border-zinc-800">
        &copy; All rights reserved
      </footer>
      
      
   
</body>
</html> 
